.btn:not([type='submit'],[data-bs-toggle="dropdown"]){
	background-image: linear-gradient(to right,#00ff00,#00ff00) !important;
}
.btn[type=submit]{
	color : #00ff00;
}
@keyframes colorstyle {
	0% {
		background-color: #4CAF50; 
		transform: rotate(0deg) scale(1); 
	}
	25% {
		background-color: #F44336; 
		transform: rotate(90deg) scale(1.1); 
	}
	50% {
		background-color: #0F9D58; 
		transform: rotate(180deg) scale(1); 
	}
	75% {
		background-color: #00BCD4; 
		transform: rotate(270deg) scale(1.1); 
	}
	100% {
		background-color: #4CAF50; 
		transform: rotate(360deg) scale(1); 
	}
}